@import 'compass';
@import 'normalize.css';

//Vars

$main: #0077a2;
$main_light: #6aafcc;
$secondary: #fff46a;

//Base
body{
  font: 100 16px Helvetica;
  color: #666;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  font-weight: 100;
}
h1{
  font-size: 32px;
  color: $main;
  margin: 20px 0;
}
h2{
  font-size: 28px;
  color: $main;
  margin: 18px 0;
}
h3{
  font-size: 24px;
  color: $main;
  margin: 18px 0;
}


header {
  position: relative;
  height: 300px;
  width: 100%;
  background: url(../images/header_bg.jpg);
  .gradient-overlay {
    width: 100%;
    height: 100%;
    opacity: .8;
    position: absolute;
    // needs latest Compass, add '@import "compass"' to your scss
    @include background-image(radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%));


  }
  .logo-cont {
    height: 110px;
    background: $main;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    .logo {
      position: absolute;
      left: 41px;
      top: 19px;
      width: 350px;
      height: 70px;
      background: url(../images/logo_white.png);
      background-position: cover;
    }
    .phone {
      font-size: 20px;
      position: absolute;
      right: 70px;
      top: 25px;
      color: $secondary;
    }
    nav {
      position: absolute;
      top: 62px;
      right: 60px;
    }
  }
}

footer{
  min-height: 120px;
  line-height: 120px;
  margin-top: 110px;
  background: $main_light;
  font-size: 24px;
  color: white;
}
a{
  font-size: 14px;
  margin: 0 10px;
  color: white;
  cursor: pointer;
  @include transition(all .4s ease);
  &:hover{
    color: $secondary;
  }
}





//Common
.c-centered{
  width: 980px;
  margin: 0 auto;
  position: relative;
}
.c-line{
  height: 3px;
  background: $secondary;
  margin: 60px auto;
}
.grid-bigger{
  width:55%;
}


//Top info

.top-info{
  table{
    width: 100%;
    tr{
      td{
        text-align: center;
        padding: 20px;
        div{
          color: $main;
        }
      }
    }
  }
  //Writing some styles outside of table just to improve readability
  .int{
    font-size: 100px;
    margin-right: 7px;
    color: $main;
  }
  .text{
    display: inline-block;
    font-size: 20px;
    margin-right: 7px;
    text-align: left;
    color: $main;
  }
}

//Current-works

.current-works{
  height: 30px;
  margin: 20px auto;
  background: $secondary;
}

//About

.about{
  height: 410px;
  .quot{
    position: absolute;
    top:0px;
    right: 0px;
    width: 250px;
    height: 250px;
    color: white;
    background: $main;
    padding: 30px;
    font-size: 21px;
    line-height: 33px;
  }
}

//Constructor teaser

.constr-teaser {
  .constr-button {
    position: relative;
    width: 450px;
    height: 167px;
    background: $main;
    margin: 0 auto;
    cursor: pointer;
    @include transition(all .4s ease);
    &:hover{
      background: $main_light;
    }
    .logo {
      position: absolute;
      top: 22px;
      left: 22px;
      width: 120px;
      height: 120px;
      background: white;
      display: block;
      font-size: 30px;
      color: white;
    }
    p{
      color: white;
      width: 330px;
      position: absolute;
      left: 170px;
      top: 51px;
      font-size: 30px;
      span{
        font-size: 21px;
        margin-top: -2px;
        display: block;
        color: #ccc;
      }
    }
  }
}



@import 'constructor'