.top-info{
  table{
    width: 100%;
    tr{
      td{
        text-align: center;
        padding: 20px;
      }
    }
  }
  //Writing some styles outside of table just to improve readability
  .int{
    font-size: 73px;
  }
}